<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/static/favicons/favicon.png" />
  
    <title>{{Title}}</title>
  
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/starter-template/"
    />
  
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/header.css" rel="stylesheet" />
    <link href="/static/css/index.css" rel="stylesheet" />
  
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write('<script src="/static/js/jquery.js"><\/script>');
    </script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/ts/index.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/anime.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#cookieModal").modal("show");
      });
    </script>
  </head>
  